.custom-shape-divider-top-1619781157 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619781157 svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 350px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781157 .shape-fill {
    fill: #1E718D;
    opacity: 0.8;
}

.custom-shape-divider-top-1619781158 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619781158 svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 400px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781158 .shape-fill {
    fill: #1E718D;
    opacity: 0.6;
}

.custom-shape-divider-top-1619781159 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619781159 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 430px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781159 .shape-fill {
    fill: #1E718D;
    opacity: 0.4;
}

.cart--Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;

    .cart--Products {
        margin-top: 300px;
        align-items: center;
        justify-content: center;
        background-color: #EFEFEF;
        border-collapse: collapse;
        border-style: hidden;
        box-shadow: 0 0 0 1px #666;
        margin-bottom: 50px;
        width: 100%;
        border-radius: 15px;

        tr img {
            height: 50px;
            width: 50px;
        }

        tr, td {
            border: 1px solid #293039;
            text-align: left;
            padding: 8px;
            font-family: 'SF-UI-Display-Regular';
        }

        tr td:first-child {
            text-align: center;
        }

        tr td:last-child {
            background-color: #FF5871;
            color: #293039;
            text-align: center;
            font-size: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        tr:nth-child(1) td:last-child {
            border-top-right-radius: 15px;
        }

        tr:last-child td:last-child{
            border-bottom-right-radius: 15px;
        }
    }
}