.custom-shape-divider-top-1619781157 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781157 svg {
  position: relative;
  display: block;
  width: calc(170% + 1.3px);
  height: 350px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781157 .shape-fill {
  fill: #1E718D;
  opacity: 0.8;
}

.custom-shape-divider-top-1619781158 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781158 svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 400px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781158 .shape-fill {
  fill: #1E718D;
  opacity: 0.6;
}

.custom-shape-divider-top-1619781159 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781159 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 430px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781159 .shape-fill {
  fill: #1E718D;
  opacity: 0.4;
}

.cart--Container {
  margin-top: 300px;
}

.cart--Container table {
  margin: auto;
  width: 50%;
}

.cart--Container table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #EFEFEF;
}

.cart--Container table tbody tr {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
}

.cart--Container table tbody tr td {
  flex: 1;
  border-right: 1px solid #293039;
  text-align: left;
  padding: 8px;
  font-family: 'SF-UI-Display-Regular';
}

.cart--Container table tbody tr td:first-child {
  text-align: center;
}

.cart--Container table tbody tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF5871;
  color: #293039;
  flex: 0.5;
  border: none;
}

.cart--Container table tbody tr td:last-child button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
