.custom-shape-divider-top-1619781127 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781127 svg {
  position: relative;
  display: block;
  width: calc(170% + 1.3px);
  height: 280px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781127 .shape-fill {
  fill: #1E718D;
  opacity: 0.8;
}

.custom-shape-divider-top-1619781128 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781128 svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 320px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781128 .shape-fill {
  fill: #1E718D;
  opacity: 0.6;
}

.custom-shape-divider-top-1619781129 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781129 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 360px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781129 .shape-fill {
  fill: #1E718D;
  opacity: 0.4;
}

.cart--Container {
  margin-top: 300px;
}

.cart--Container table {
  margin: auto;
  width: 50%;
}

.cart--Container table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #EFEFEF;
}

.cart--Container table tbody tr {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
}

.cart--Container table tbody tr td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  border-right: 1px solid #293039;
  text-align: left;
  padding: 8px;
  height: 50px;
  font-family: 'SF-UI-Display-Regular';
}

.cart--Container table tbody tr img {
  height: 50px;
  width: 50px;
}

.cart--Container table tbody tr td:first-child {
  display: flex;
  justify-content: center;
  flex: 0.5;
}

.cart--Container table tbody tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF5871;
  color: #293039;
  flex: 0.5;
  border: none;
  cursor: pointer;
}

.cart--Container table tbody tr td:last-child button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  flex: 1;
  cursor: pointer;
}

.cart--Container table tbody .cart--Empty--Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  background-color: #A1D8E1;
}

.cart--Container table tbody .cart--Empty--Container h1 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 50px;
  font-family: 'SF-UI-Display-Regular';
  color: #1E718D;
  width: 60%;
  justify-content: space-around;
}
