.product--Details--Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    background-color: transparent;
    margin-top: 50px;

    .product--ImageColors--Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 5;
        left: 40px;
        align-items: center;
        border: none;
        height: 500px;
        background-color: #5D97AE; 
        box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.2);
        border-radius: 40px;
        
        .product--Image--Container {
            display: flex;
            justify-content: center;
            height: 80%;
            position: relative;
            width: 400px;
            align-items: center;
            
            img {
                position: absolute;
                left: -200px;
                width: 100%;
                height: 100%;
                -webkit-animation: img 1s forwards;
                animation: img 1s forwards;
            }

            @-webkit-keyframes img {
                0% {opacity: 0;}
                100% { opacity: 1; left: 0; }
            }
            
            @keyframes img {
                0% {opacity: 0;}
                100% { opacity: 1; left: 0; }
            }
        }

        .product--Colors--Container {
            display: flex;
            justify-content: space-around;
            width: 200px;
            margin-top: 20px;
                  
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                height: 30px;
                
                li {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    cursor: pointer;
                    
                    .color--Button {
                        padding: 5px;
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        border: none;
                        cursor: pointer;
                        box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.2);
                    }
                }   
            }
        }
    }

    .product--Details--Info {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 50%;
        z-index: 4;
        right: 40px;
        padding-left: 80px;
        box-shadow: none;
        background-color: #EFEFEF;
        
        .product--Info {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            flex: 1;
            
            h1 {
                font-size: 50px;
                color: #293039;
                font-family: 'SF-UI-Display-Thin';
            }
            
            p {
                font-size: 20px;
                color: #293039;
                font-family: 'SF-UI-Display-Medium';
            }
            
            h3 {
                font-size: 25px;
                color: #293039;
                font-family: 'SF-UI-Display-Light';
            }
            
            table {
                width: 70%;
                
                thead tr td {
                    font-size: 20px;
                    color: #293039;
                    font-family: 'SF-UI-Display-Light';
                }
                
                tbody tr td {
                    font-size: 20px;
                    color: #293039;
                    font-family: 'SF-UI-Display-Medium';
                }
            }
        }

    }

    .product--Buy--Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .product--Price {
            display: flex;
            align-self: flex-start;
            margin: auto;
            margin-left: 0; 
            
            h3 {
                font-size: 30px;
                color: #293039;
                font-family: 'SF-UI-Display-Bold';
            }
        }
    
        .addToCart--Button--Container {
            display: flex;
            align-self: flex-end;
            margin: 30px;
            align-items: center;
            justify-content: center;
            padding: 10px;
            cursor: pointer;
            transition: ease-out 0.3s;
            justify-content: space-around;
            font-family: 'SF-UI-Display-Medium';
            border: 1px solid rgba(30, 113, 141, 1);
            color: rgba(30, 113, 141, 1);

            &:hover{
                border-radius: 20px;
            }
        }

        .addToCart--Icon--Container {
            display: flex;
            align-self: flex-end;
            margin: 30px;
            align-items: center;
            justify-content: center;
            padding: 14px;
            border: none;
        }
    }
}