ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

ul li {
  list-style: none;
  margin-right: 30px;
}

ul li .link {
  font-family: 'SF-UI-Display-Thin';
  font-size: 20px;
  color: #E0DAD4;
  text-decoration: none;
}

ul li .logout--Button {
  font-family: 'SF-UI-Display-Thin';
  font-size: 20px;
  color: #E0DAD4;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

ul li .logout--Button:hover {
  cursor: pointer;
}
