ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    z-index: 10;

    li {
        list-style: none;
        margin-right: 30px;


        .link {
            font-family: 'SF-UI-Display-Thin';
            font-size: 20px;
            color: #EFEFEF;
            text-decoration: none;

            &:hover {
                border-bottom: 3px solid #EFEFEF;
            }
        }


        .logout--Button {
            display: flex;
            font-family: 'SF-UI-Display-Regular';
            font-size: 20px;
            color: #EFEFEF;
            text-decoration: none;
            align-items: center;
            justify-content: flex-start;
            background-color: transparent;
            border: none;
            width: 130px;
            padding: 3px 0px 3px 0px;
            padding-top: 0;
            overflow: hidden;
            transition: ease-in-out 0.3s;
            cursor: pointer;

            .logout--Icon {
                margin-left: 5px;
                transition: ease-in-out 0.3s;
            }

            &:hover .logout--Icon {
                transform: translateX(7px);
            }
        }

        .employee--Button {
            display: flex;
            font-family: 'SF-UI-Display-Regular';
            font-size: 20px;
            color: #EFEFEF;
            text-decoration: none;
            align-items: center;
            justify-content: flex-start;
            background-color: transparent;
            border: none;
            width: 130px;
            padding: 3px 0px 3px 0px;
            padding-top: 0;
            overflow: hidden;
            transition: ease-in-out 0.3s;
            cursor: pointer;

            .employee--Icon {
                margin-left: 5px;
                transition: ease-in-out 0.3s;
            }

            &:hover .employee--Icon {
                transform: translateX(7px);
            }
        }
    }
}