body {
  background-color: rgba(22, 158, 182, 0.4);
}

.custom-shape-divider-top-1619781110 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781110 svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 350px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781110 .shape-fill {
  fill: #1E718D;
  opacity: 0.8;
}

.custom-shape-divider-top-1619781111 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781111 svg {
  position: relative;
  display: block;
  width: calc(150% + 400px);
  height: 400px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781111 .shape-fill {
  fill: #1E718D;
  opacity: 0.6;
}

.custom-shape-divider-top-1619781112 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619781112 svg {
  position: relative;
  display: block;
  width: calc(120% + 400px);
  height: 430px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781112 .shape-fill {
  fill: #1E718D;
  opacity: 0.4;
}

.custom-shape-divider-top-16191845323 .shape-fill {
  fill: #1E718D;
  opacity: 0.6;
}

.custom-shape-divider-top-161918453234 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-161918453234 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 360px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-161918453234 .shape-fill {
  fill: #1E718D;
  opacity: 0.4;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 4%;
  position: relative;
  z-index: 5;
  width: 35%;
}

header h1 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'SF-UI-Display-Bold';
  letter-spacing: 3px;
  color: #EFEFEF;
  width: 130%;
  background: -webkit-linear-gradient(180deg, rgba(30, 113, 141, 0.1) 0%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h3 {
  font-size: 25px;
  font-family: 'SF-UI-Display-Regular';
  letter-spacing: 3px;
  color: #EFEFEF;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  background: -webkit-linear-gradient(180deg, rgba(30, 113, 141, 0.1) 0%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first--topImage--container {
  position: absolute;
  top: 14%;
  width: 20%;
  right: 43%;
}

.first--topImage--container .first--topImage {
  position: absolute;
  right: 30%;
  top: 0;
  width: 100%;
  z-index: 1;
}

.second--topImage--container {
  position: absolute;
  top: 17%;
  width: 16%;
  right: 45%;
}

.second--topImage--container .second--topImage {
  position: absolute;
  right: 80%;
  width: 100%;
  z-index: 2;
}

.third--topImage--container {
  position: absolute;
  top: 33%;
  width: 16%;
  right: 49.5%;
}

.third--topImage--container .third--topImage {
  position: absolute;
  right: 100%;
  width: 70%;
  z-index: 3;
}

.products--Table--Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 200px;
}

.products--Table--Container .product--SearchForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: rgba(30, 113, 141, 0.4);
  padding: 15px;
  margin-bottom: 50px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-box-shadow: 0px 13px 13px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 13px 13px 6px rgba(0, 0, 0, 0.08);
}

.products--Table--Container .product--SearchForm .product--Search {
  width: 25%;
  padding: 10px;
  border: 1px solid #EFEFEF;
  border-radius: 20px;
  background-color: white;
  color: #293039;
  font-family: 'SF-UI-Display-Regular';
  font-size: 17px;
}

.products--Table--Container .product--SearchForm .product--Search:focus {
  outline: none;
  color: #293039;
}

.products--Table--Container .product--SearchForm .product--Filter {
  width: 15%;
  border-radius: 20px;
  background-color: white;
  color: #293039;
  font-family: 'SF-UI-Display-Regular';
  font-size: 17px;
}

.products--Table--Container .product--SearchForm .search--Button--Container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border: 3px solid #EFEFEF;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  transition: ease-out 0.3s;
}

.products--Table--Container .product--SearchForm .search--Button--Container:hover {
  cursor: pointer;
  box-shadow: inset 400px 0 0 0 #00C4CC;
}

.products--Table--Container .product--SearchForm .search--Button--Container input {
  background-color: transparent;
  color: #EFEFEF;
  font-size: 20px;
  font-family: 'SF-UI-Display-Medium';
  border: none;
}

.products--Table--Container .product--SearchForm .search--Button--Container input:hover {
  cursor: pointer;
}

.products--Table--Container .products--Section {
  display: grid;
  grid-template-columns: repeat(3, 40%);
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 80%;
}

.products--Table--Container .products--Section .product--Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 85%;
  width: 80%;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #5D97AE;
  box-shadow: 0px 13px 13px 6px rgba(0, 0, 0, 0.137);
}

.products--Table--Container .products--Section .product--Container .product--TopButton--Container {
  display: flex;
  background-color: #EFEFEF;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}

.products--Table--Container .products--Section .product--Container .product--TopButton--Container .about--Button {
  border-bottom-right-radius: 40px;
  border-top-left-radius: 10px;
  background-color: transparent;
  padding: 15px;
  color: #979797;
}

.products--Table--Container .products--Section .product--Container .product--Image--Container {
  height: 290px;
  width: 100%;
  background-color: #EFEFEF;
  padding-bottom: 10px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.2);
}

.products--Table--Container .products--Section .product--Container .product--Image--Container img {
  height: 100%;
  width: 80%;
}

.products--Table--Container .products--Section .product--Container .product--Card--Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products--Table--Container .products--Section .product--Container .product--Colors--Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.products--Table--Container .products--Section .product--Container .product--Colors--Container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 280px;
}

.products--Table--Container .products--Section .product--Container .product--Colors--Container .item {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.products--Table--Container .products--Section .product--Container .product--Colors--Container .outline {
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 3px solid white;
  border-radius: 50%;
}

.products--Table--Container .products--Section .product--Container h3 {
  font-size: 25px;
  font-family: 'SF-UI-Display-Regular';
  color: #293039;
  margin: 5px;
}

.products--Table--Container .products--Section .product--Container p {
  font-size: 20px;
  margin: 5px;
  color: #293039;
  font-family: 'SF-UI-Display-Medium';
}

.products--Table--Container .products--Section .product--Container .product--BottomButtons--Container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.products--Table--Container .products--Section .product--Container .product--BottomButtons--Container .addTo--Favourite--Button--Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.products--Table--Container .products--Section .product--Container .product--BottomButtons--Container .addTo--Favourite--Button--Container:hover {
  cursor: pointer;
}

.products--Table--Container .products--Section .product--Container .product--BottomButtons--Container .addTo--Cart--Button--Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 10px;
  color: #293039;
  background-color: transparent;
}

.products--Table--Container .products--Section .product--Container .product--BottomButtons--Container .addTo--Cart--Button--Container:hover {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  margin-top: 200px;
  align-items: center;
  justify-content: space-around;
  background-color: #1E718D;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 200px;
}

footer ul .footer--List--Header {
  font-size: 20px;
  font-family: 'SF-UI-Display-Bold';
  margin: 15px;
  margin-left: 0;
  color: #EFEFEF;
  text-align: left;
}

footer ul li {
  font-size: 16px;
  text-align: left;
  font-family: 'SF-UI-Display-Medium';
  color: #EFEFEF;
}

footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.popup--Added-content {
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 17px;
  font-family: 'SF-UI-Display-Medium';
}

[role=tooltip].popup--Added-content {
  background-color: #53EC00;
}

.popup-content {
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 17px;
  font-family: 'SF-UI-Display-Medium';
}

[role=tooltip].popup-content {
  background-color: #FF5F5F;
}

.popup-arrow path {
  color: #FF5F5F;
}
