body {
    background-color: rgba(22, 158, 182, 0.4);
}

.custom-shape-divider-top-1619781110 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619781110 svg {
    position: relative;
    display: block;
    width: calc(220% + 1.3px);
    height: 350px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781110 .shape-fill {
    fill: #1E718D;
    opacity: 0.8;
}

.custom-shape-divider-top-1619781111 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619781111 svg {
    position: relative;
    display: block;
    width: calc(150% + 400px);
    height: 400px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781111 .shape-fill {
    fill: #1E718D;
    opacity: 0.6;
}

.custom-shape-divider-top-1619781112 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619781112 svg {
    position: relative;
    display: block;
    width: calc(120% + 400px);
    height: 430px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619781112 .shape-fill {
    fill: #1E718D;
    opacity: 0.4;
}

.custom-shape-divider-top-16191845323 .shape-fill {
    fill: #1E718D;
    opacity: 0.6;
}

.custom-shape-divider-top-161918453234 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-161918453234 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 360px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-161918453234 .shape-fill {
    fill: #1E718D;
    opacity: 0.4;
}

header {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
    z-index: 5;
    width: 600px;

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: 'SF-UI-Display-Bold';
        letter-spacing: 3px;
        color: #EFEFEF;
        width: 130%;
        background: -webkit-linear-gradient(180deg,rgba(30, 113, 141, 0.1) 0%,rgba(255,255,255, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-size: 25px;
        font-family: 'SF-UI-Display-Regular';
        letter-spacing: 3px;
        color: #EFEFEF;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        background: -webkit-linear-gradient(180deg,rgba(30, 113, 141, 0.1) 0%,rgba(255,255,255, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.products--Table--Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;

    .product--SearchForm {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        background-color: rgba(30, 113, 141, 0.4);
        padding: 15px;
        margin-bottom: 50px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        -webkit-box-shadow: 0px 13px 13px 6px rgba(0,0,0,0.08); 
        box-shadow: 0px 13px 13px 6px rgba(0,0,0,0.08);

        .product--Search {
            width: 25%;
            padding: 10px;
            border: 1px solid #EFEFEF;
            border-radius: 20px;
            background-color: rgba(255,255,255, 1);
            color: #293039;
            font-family: 'SF-UI-Display-Regular';
            font-size: 17px;

            &:focus {
                outline: none;
                color: #293039;
            }
        }

        .product--Filter {
            width: 15%;
            border-radius: 20px;
            background-color: rgba(255,255,255, 1);
            color: #293039;
            font-family: 'SF-UI-Display-Regular';
            font-size: 17px;
        }

        .search--Button--Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid #EFEFEF;
            border-radius: 20px;
            padding: 10px;
            overflow: hidden;
            position: relative;
            transition: ease-out 0.3s;

            &:hover {
                cursor: pointer;
                box-shadow: inset 400px 0 0 0 #00C4CC;
                
            }

            input {
                background-color: transparent;
                color: #293039;
                font-size: 20px;
                font-family: 'SF-UI-Display-Medium';
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .products--Section {
        display: grid;
        grid-template-columns: repeat(3, 40%);
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        width: 80%;

        .product--Container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 500px;
            width: 400px;
            padding: 0;
            background-color: #5D97AE ;
            -webkit-box-shadow: 0px 13px 13px 6px rgba(0,0,0,0.137); 
            box-shadow: 0px 13px 13px 6px rgba(0,0,0,0.137);

            .product--TopButton--Container {
                display: flex;
                background-color: #EFEFEF;
                width: 100%;
                
                .about--Button {
                    border-top-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    background-color: transparent;
                    border: 2px solid #7D9F9C;
                    font-size: 20px;
                    font-family: 'SF-UI-Display-Bold';
                    padding: 10px;
                    transition: ease-in 0.2s;
                    text-decoration: none;
                    color: #293039;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .product--Image--Container {
                height: 290px;
                width: 100%;
                background-color: #EFEFEF;
                padding-bottom: 10px;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
                
                img {
                    height: 100%;
                    width: 80%;
                }
            }

            .product--Card--Layout {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .product--Colors--Container {
                display: flex;
                position: relative;
                z-index: 1;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 40%;
                margin-top: 10px;

                button {
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    border: none;
                    box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.2);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            h3 {
                font-size: 25px;
                font-family: 'SF-UI-Display-Regular';
                color: #293039;
                margin: 5px
            }

            p {
                font-size: 20px;
                margin: 5px;
                color: #293039;
                font-family: 'SF-UI-Display-Medium';
            }

            .product--BottomButtons--Container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .addTo--Favourite--Button--Container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .addTo--Cart--Button--Container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    margin: 10px;
                    color: #293039;
                    background-color: transparent;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.popup--Added-content {
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 17px;
    font-family: 'SF-UI-Display-Medium';
}

[role=tooltip].popup--Added-content {
    background-color: #53EC00;
}

.popup-content{
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 17px;
    font-family: 'SF-UI-Display-Medium';
}

[role=tooltip].popup-content {
    background-color: #FF5F5F;
}

.popup-arrow path {
    color: #FF5F5F;
}

