.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .employee--Title {
        display: flex;
        font-size: 70px;
        font-family: 'SF-UI-Display-Bold';
        left: 100px;
        padding: 10px;
        letter-spacing: 3px;
        top: 0;
        color: #00406D;
        position: absolute;
    }    

    .addProduct--Title {
        display: flex;
        align-items: center;
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'SF-UI-Display-Light';
        color: #EFEFEF;
        margin-top: 150px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;

        .employee--Create--Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 800px;
        }

        img{
            height: 550px;
            width: 400px;
        }
    
        .createProduct--form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 300px;
            padding: 40px;
            height: 470px;
            border-top-right-radius: 10px;
            background-color: #293039;

            input {
                width: 100%;
                margin-top: 20px;
                padding: 10px;
                color: #EFEFEF;
                border: 1px solid #EFEFEF;
                background-color: transparent;
                font-family: 'SF-UI-Display-Light';
                
                &:focus { 
                    outline: none;
                    color: #293039;
                    background-color: #EFEFEF;
                }
            }

            label {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin-top: 20px;
                padding: 10px;
                width: 100%;
                border: 1px solid #EFEFEF;
                cursor: pointer;
                color: #EFEFEF;
                font-family: 'SF-UI-Display-Light';

                .file--Label--Container {
                    display: flex;
                    align-items: center;
                    width: 40%;
                    justify-content: space-around;

                }
                
                .file--Input {
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    
                    &::-webkit-file-upload-button {
                        display: none;
                    }
                    
                    &:focus { 
                        outline: none;
                        color: #293039;
                    }
                }
            }

            select {
                width: 80%;
                margin-top: 20px;
                padding: 10px;
                color: #EFEFEF;
                border: 1px solid #EFEFEF;
                background-color: transparent;
                font-family: 'SF-UI-Display-Light';

                &:focus {
                    outline: none;
                }

                option {
                    padding: 5px;
                    background-color: #293039;
                    color: #EFEFEF;
                }
            }

            .product--Colors {
                position: relative;
                width: 110%;
                height: 10px;
                background-color: transparent;
            }

            .create--button {
                width: 60%;
                margin-top: 40px;
                font-family: 'SF-UI-Display-Medium';
                transition: all 0.3s ease 0s;
                letter-spacing: 2.5px;
                color: #EFEFEF;

                &:hover {
                    font-family: 'SF-UI-Display-Bold';
                    cursor: pointer;
                    color: #293039;
                    background-color: #00C4CC;
                    transform: translateY(-7px);
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                }
            }
        }

        .load--Products{
            border: none;
            border-radius: 10px;
            font-family: 'SF-UI-Display-Light';
            font-size: 20px;
            background-color: #293039;
            padding: 10px;
            transition: all 0.3s ease 0s;

            &:hover {
                background-color: #FFD200;
                cursor: pointer;
                transform: translateX(5px 5px);
                letter-spacing: 2.5px;
                box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            }

            &:focus {
                outline: none;
            }
        }

        .added--Products {
            align-items: center;
            justify-content: space-around;
            background-color: #293039;
            justify-content: space-around;
            border-collapse: collapse;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-style: hidden;
            box-shadow: 0 0 0 1px #666;
            margin-bottom: 50px;
            width: 100%;

            tr, th {
                border: 1px solid #EFEFEF;
                text-align: left;
                padding: 8px;
                color: #EFEFEF;
                letter-spacing: 2px;
                font-family: 'SF-UI-Display-Thin';
            }

            tr, td {
                border: 1px solid #EFEFEF;
                text-align: left;
                padding: 8px;
                font-family: 'SF-UI-Display-Regular';
            }

            tr:nth-child(2) {
                background-color: #0EFF9F;
                color: #293039;
            }

            tr td:last-child {
                background-color: #FF5871;
                color: #293039;

                &:hover {
                    cursor: pointer;
                }
            }

            tr:last-child td:last-child {
                border-bottom-right-radius: 10px;
            }

            tr:last-child td:first-child {
                border-bottom-left-radius: 10px;
            }
        }
    }
}
