.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2284a5;
    width: 100%;

    .employee--Title {
        display: flex;
        font-size: 70px;
        font-family: 'SF-UI-Display-Bold';
        left: 100px;
        padding: 10px;
        letter-spacing: 3px;
        top: 0;
        color: #EFEFEF;
        position: absolute;
        border-radius: 30px;
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
    }    

    .addProduct--Title {
        display: flex;
        align-items: center;
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'SF-UI-Display-Light';
        color: #EFEFEF;
        margin-top: 150px;
    }

    .logout--Button {
        display: flex;
        font-family: 'SF-UI-Display-Regular';
        font-size: 20px;
        color: #EFEFEF;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid #EFEFEF;
        width: 130px;
        padding: 10px;
        position: absolute;
        top: 70px;
        right: 150px;
        overflow: hidden;
        transition: ease-in-out 0.3s;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);

        .logout--Icon {
            margin-left: 5px;
            transition: ease-in-out 0.3s;
        }

        &:hover .logout--Icon {
            transform: translateX(7px);
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .employee--Create--Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 500px;
        }
    
        .createProduct--form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            padding: 40px;
            height: 100%;
            margin-top: 30px;
            background-color: #293039;

            .product--SpecInputs--Container {
                display: flex;
                flex-direction: row;
                width: 108%;
                
                select{
                    font-family: 'SF-UI-Display-Light';
                    font-size: 14px;
                }
            }

            .image--Color--Container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .buttons--Container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 10px;

                    .add {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        padding: 0 10px 0 10px;
                        background-color: #0BC000;
                        border: none;
                        color: #EFEFEF;
                        border-radius: 20px;
                        margin-top: 20px;
                    }

                    .remove {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                    }
                }
            }

            input {
                width: 80%;
                margin-top: 20px;
                padding: 10px;
                color: #EFEFEF;
                border: 1px solid #EFEFEF;
                background-color: transparent;
                font-family: 'SF-UI-Display-Light';
                
                &:focus { 
                    outline: none;
                }
            }

            label {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin-top: 20px;
                padding: 10px;
                width: 100%;
                border: 1px solid #EFEFEF;
                cursor: pointer;
                color: #EFEFEF;
                font-family: 'SF-UI-Display-Light';

                .file--Label--Container {
                    display: flex;
                    align-items: center;
                    width: 40%;
                    justify-content: space-around;

                }
                
                .file--Input {
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    
                    &::-webkit-file-upload-button {
                        display: none;
                    }
                    
                    &:focus { 
                        outline: none;
                        color: #EFEFEF;
                    }
                }
            }

            select {
                width: 50%;
                margin-top: 20px;
                padding: 10px;
                color: #EFEFEF;
                border: 1px solid #EFEFEF;
                background-color: transparent;
                font-family: 'SF-UI-Display-Light';

                &:focus {
                    outline: none;
                }

                option {
                    padding: 5px;
                    background-color: #293039;
                    color: #EFEFEF;
                }
            }

            .product--Colors {
                position: relative;
                width: 110%;
                height: 10px;
                background-color: transparent;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            .create--button {
                width: 60%;
                margin-top: 40px;
                font-family: 'SF-UI-Display-Medium';
                transition: all 0.3s ease 0s;
                letter-spacing: 2.5px;
                color: #EFEFEF;

                &:hover {
                    font-family: 'SF-UI-Display-Bold';
                    cursor: pointer;
                    color: #293039;
                    background-color: #00C4CC;
                    transform: translateY(-7px);
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                }
            }
        }

        .added--Products {
            align-items: center;
            justify-content: space-around;
            background-color: #293039;
            justify-content: space-around;
            border-collapse: collapse;
            border-radius: 10px;
            border-style: hidden;
            margin: 0 auto;
            margin-top: 30px;
            box-shadow: 0 0 0 1px #666;
            margin-bottom: 50px;
            width: 90%;

            tr, th {
                border: 1px solid #EFEFEF;
                text-align: left;
                padding: 8px;
                color: #EFEFEF;
                letter-spacing: 2px;
                font-family: 'SF-UI-Display-Thin';
            }

            tr, td {
                border: 1px solid #EFEFEF;
                text-align: left;
                padding: 8px;
                font-family: 'SF-UI-Display-Regular';
            }

            tr:nth-child(2) {
                background-color: #0EFF9F;
                color: #293039;
            }

            tr td:last-child {
                background-color: #FF5871;
                color: #293039;

                &:hover {
                    cursor: pointer;
                }
            }

            tr:last-child td:last-child {
                border-bottom-right-radius: 10px;
            }

            tr:last-child td:first-child {
                border-bottom-left-radius: 10px;
            }
        }
    }
}
