.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2284a5;
  width: 100%;
}

.App .employee--Title {
  display: flex;
  font-size: 70px;
  font-family: 'SF-UI-Display-Bold';
  left: 100px;
  padding: 10px;
  letter-spacing: 3px;
  top: 0;
  color: #EFEFEF;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.App .addProduct--Title {
  display: flex;
  align-items: center;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: 'SF-UI-Display-Light';
  color: #EFEFEF;
  margin-top: 150px;
}

.App .logout--Button {
  display: flex;
  font-family: 'SF-UI-Display-Regular';
  font-size: 20px;
  color: #EFEFEF;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #EFEFEF;
  width: 130px;
  padding: 10px;
  position: absolute;
  top: 70px;
  right: 150px;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.App .logout--Button .logout--Icon {
  margin-left: 5px;
  transition: ease-in-out 0.3s;
}

.App .logout--Button:hover .logout--Icon {
  transform: translateX(7px);
}

.App main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App main .employee--Create--Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.App main .createProduct--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
  height: 100%;
  margin-top: 30px;
  background-color: #293039;
}

.App main .createProduct--form .product--SpecInputs--Container {
  display: flex;
  flex-direction: row;
  width: 108%;
}

.App main .createProduct--form .product--SpecInputs--Container select {
  font-family: 'SF-UI-Display-Light';
  font-size: 14px;
}

.App main .createProduct--form .image--Color--Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App main .createProduct--form .image--Color--Container .buttons--Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.App main .createProduct--form .image--Color--Container .buttons--Container .add {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px 0 10px;
  background-color: #0BC000;
  border: none;
  color: #EFEFEF;
  border-radius: 20px;
  margin-top: 20px;
}

.App main .createProduct--form .image--Color--Container .buttons--Container .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.App main .createProduct--form input {
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  color: #EFEFEF;
  border: 1px solid #EFEFEF;
  background-color: transparent;
  font-family: 'SF-UI-Display-Light';
}

.App main .createProduct--form input:focus {
  outline: none;
}

.App main .createProduct--form label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #EFEFEF;
  cursor: pointer;
  color: #EFEFEF;
  font-family: 'SF-UI-Display-Light';
}

.App main .createProduct--form label .file--Label--Container {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.App main .createProduct--form label .file--Input {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.App main .createProduct--form label .file--Input::-webkit-file-upload-button {
  display: none;
}

.App main .createProduct--form label .file--Input:focus {
  outline: none;
  color: #EFEFEF;
}

.App main .createProduct--form select {
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  color: #EFEFEF;
  border: 1px solid #EFEFEF;
  background-color: transparent;
  font-family: 'SF-UI-Display-Light';
}

.App main .createProduct--form select:focus {
  outline: none;
}

.App main .createProduct--form select option {
  padding: 5px;
  background-color: #293039;
  color: #EFEFEF;
}

.App main .createProduct--form .product--Colors {
  position: relative;
  width: 110%;
  height: 10px;
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 15px;
}

.App main .createProduct--form .create--button {
  width: 60%;
  margin-top: 40px;
  font-family: 'SF-UI-Display-Medium';
  transition: all 0.3s ease 0s;
  letter-spacing: 2.5px;
  color: #EFEFEF;
}

.App main .createProduct--form .create--button:hover {
  font-family: 'SF-UI-Display-Bold';
  cursor: pointer;
  color: #293039;
  background-color: #00C4CC;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.App main .added--Products {
  align-items: center;
  justify-content: space-around;
  background-color: #293039;
  justify-content: space-around;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 0 0 1px #666;
  margin-bottom: 50px;
  width: 90%;
}

.App main .added--Products tr, .App main .added--Products th {
  border: 1px solid #EFEFEF;
  text-align: left;
  padding: 8px;
  color: #EFEFEF;
  letter-spacing: 2px;
  font-family: 'SF-UI-Display-Thin';
}

.App main .added--Products tr, .App main .added--Products td {
  border: 1px solid #EFEFEF;
  text-align: left;
  padding: 8px;
  font-family: 'SF-UI-Display-Regular';
}

.App main .added--Products tr:nth-child(2) {
  background-color: #0EFF9F;
  color: #293039;
}

.App main .added--Products tr td:last-child {
  background-color: #FF5871;
  color: #293039;
}

.App main .added--Products tr td:last-child:hover {
  cursor: pointer;
}

.App main .added--Products tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.App main .added--Products tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
